.border.shorten-url
  %h5 Click to copy shorten url:
  %p
    %span#span-shorten-url= full_shorten_url(@url)
  %p.copied Copied to clipboard!

:javascript
  $(function(){
    $(".shorten-url").on("click", function(){
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($("span#span-shorten-url").text()).select();
      document.execCommand("copy");
      $temp.remove();

      $(".copied").
        show().
        delay(3000).
        fadeOut();
    })
  })
