%form.form-signin
  .text-center.mb-4
    %h1.h3.mb-3.font-weight-normal URL Shortener
    %p by Charles Darwin Pobre
  .form-label-group
    %input.form-control{autofocus: "", placeholder: "Tes"}
    %label A very long URL
  %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Generate a cool short URL
  %p.mt-5.mb-3.text-muted.text-center © 2018
