= form_for @url, html: { class: "form-signin" }, remote: true do |f|
  .text-center.mb-4
    %h1.h3.mb-3.font-weight-normal URL Shortener
    %p by Charles Darwin Pobre
  .input-group.mb-3
    = f.url_field :original_url, placeholder: "A very long URL", class: "form-control", required: true
    .input-group-append
      = f.submit "Shorten!", class: "btn btn-outline-success"

.shorten-url-wrapper

%p.mt-5.mb-3.text-muted.text-center © Charles Darwin Pobre, 2018
